<?xml version="1.0" encoding="UTF-8" standalone="yes" ?>
<!DOCTYPE boost_serialization>
<boost_serialization signature="serialization::archive" version="9">
<NexusServer class_id="0" tracking_level="0" version="0">
	<projects class_id="1" tracking_level="0" version="0">
		<count>0</count>
		<item_version>0</item_version>
	</projects>
	<adminPort>8080</adminPort>
	<adminUseZip>0</adminUseZip>
	<webCacheMB>0</webCacheMB>
	<projectCacheMB>128</projectCacheMB>
	<scriptCacheMB>32</scriptCacheMB>
</NexusServer>
</boost_serialization>

